* {
    margin: 0px;
    padding: 0px;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 8vh 8vh 84vh;
    height: 100vh;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-end: span 3;
    background-color: #1892D4;
    grid-row-gap: 15px;
}

.sidebar p {
    display: grid;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 100%;
    width: 100%;
    margin-left: -10px;
}

.sidebar > svg {
    margin-left: 8px;
    height: 100%;
    width: 40%;
    justify-self: center;
}

#dashboard-svg {
    width: 60%;
}

.header {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 1.5fr;
    height: 10vh;
    align-items: center;
    z-index: 2;
}

.magnify-img {
    justify-self: flex-end;
    margin-right: 15px;
}

input {
    all: unset;
    background-color: #E2E8F0;
    border-radius: 20px;
    box-shadow: none;
    width: 80%;
    padding: 5px 0px 5px 0px;
}

.header > img {
    height: 25px;
}

.header p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.bell-img {
    justify-self: flex-end;
}

.bag-img {
    justify-self: center;
}

.sidebar svg path {
    fill: white;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-bag-img {
    height: 75px;
    justify-self: center;
    align-self: center;
}

.nav p {
    justify-self: flex-start;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.nav button {
    background-color: #1892D4;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    border: none;
    align-self: center;
    justify-self: center;
}

.contents {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 10fr;
    background-color: #E2E8F0;
    margin-top: 3px;
}

.contents > h2 {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-end;
    margin-left: 25px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    background-color: white;
    border-radius: 12px;
    border-left: 12px solid gold;
    margin: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin-top: 25px;
}

.card h2, .card p {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card p {
    margin-bottom: 5vh;
    color: gray;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
}

.icon-container > svg {
    margin-bottom: 2vh;
    margin-right: 2vw
}

.announcements-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 1fr;
}

.announcements-container h2 {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.announcements-card1, .announcements-card2 {
    background-color: white;
    border-radius: 12px;
    margin: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.announcements-card1 p {
    display: grid;
    margin-bottom: 2vh;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    font-size: 12px;
}

#ac2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#ac2 > svg {
    height: 50px;
    align-self: center;
    justify-self: center;
}

.subtext {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.subtext, .subtext-p {
    align-self: center;
    justify-self: flex-start;
    margin: 0;
}

.trending {
    margin-bottom: -25px;
}

svg {
    height: 25px;
}

hr {
    color: lightgrey;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}